<h2 class="header">Simple Airbnb</h2>
  <div class="container ">
    <h3 class="mt-3">All our flats (<%= @flats.length %>)</h3>
    <div class="flex-container">
      <% @flats.each do |flat| %>
        <div class="flat-card">
          <div class="card-info p-4">
            <h3>
              <%= flat.name %>
            </h3>
            <p>
              <%= flat.address %>
            </p>
            <h7>
              <i class="fas fa-dollar-sign">   </i><%= flat.price_per_night %>
              <i class="fas fa-user">   </i><%= flat.number_of_guests %>
            </h7>
          </div>
          <p class="card-link border-top mb-0">
             <%= link_to "More info", flat %>
          </p>
        </div>
      <% end %>
    </div>
  </div>

